.user-form {
  min-width: 200px;
  max-width: 700px;
  width: 100%;
}

.user-full-width {
  width: 100%;
  padding-left: 5px;
}

.user-half-width {
  width: 40%;
  
}

mat-form-field {
  padding-left: 5px;
}

table {
  width: 100%;
}

mat-card-actions {
  display: flex;
  align-content: center;
}

mat-form-field {
  margin-right: 12px;
}

mat-select {
  margin-right: 12px;
}

button {
  margin-right: 12px;
}